.carousel-control-next
{
    width: 3.5%;
    border-radius: 40px;
}

.carousel-control-prev
{
    width: 3.5%;
    border-radius: 40px;
}

.letters-title
{
    margin-top: 10%;
    margin-bottom: 3%;
}

.letters-btns-bar
{

    display: flex;
    justify-content: center;
    margin-bottom: 3%;
}

.letters-btns-bar .btn
{

    color: var(--bs-secondary);
    border-radius: 20px;
}


.letters-all .row
{
    margin-bottom: 5%;
}

.letters-all .row .col .letter-card .card-body
{
    margin: 0px !important;
}

.letters-all .letters-all-card
{
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

.carousel-item .letter-card
{
    margin: 0px 3%;
}

@media only screen and (max-width: 991px) 
{
    .letters-all .row .letters-all-card
    {
        display: flex;
        justify-content: center;
    }
}

@media only screen and (max-width: 1200px) 
{
    .carousel
    {
        display: none;
    }
    .letters-btns-bar .letters-btn-bar-change
    {
        display: none;
    }
}