.letter-card
{
    border-radius: 20px;
    text-align: center;
}

.letter-card .card-title
{
    border-radius: 20px 20px 0px 0px;
}


.letter-card .letter-card-text
{
    text-align: start;
    margin: 0 10%;
    padding: 0;
}


.letter-card .btn
{
    width: 100%;
    margin: 0 !important;
    border-radius: 0px 0px 20px 20px;
}

.card-body
{
    width: 100%;
}